{% extends "base.html" %}
{% block content %}
  {% for product in model.products %}
      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <img class="card-img img-fluid w-100" src="/static/img/slide-1.jpg" alt="">
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">{{product.label}}</h2>
            {% if product.discount == 0 %}
              <h4 class="text-shadow text-white">${{product.price}}</h4>
            {% else %}
              <h4 class="text-shadow text-white"><del>${{product.price}}</del> ${{product.discounted_price}}</h4>
            {% endif %}
            <a href="/shop/{{product.id}}/" class="btn btn-secondary">Buy</a>
          </div>
        </div>
      </div>
  {% endfor %}
{% endblock %}